/*
    https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e
*/

/************** TAG SELECTOR **************/

body {
    background-color: #F9F7F7;
    font-family: 'Roboto', sans-serif;
  }

hr {
    height: 0px;
    border-color: #3F72AF;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 8%;
  }

img {
    height: 120px;
  }

h1 {
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    color: #112D4E;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3F72AF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3F72AF;
}

p {
    font: 0.8em "Roboto";
    color: #112D4E;
}

/************** CLASS SELECTOR **************/
.exp {
    color: #112D4E;
}

/************** ID SELECTOR**************/


#edu {
    color: red;
}