/*
    https://colorhunt.co/palette/f6fbf4f5df995fd0684b8673
*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0 auto 20px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
}

h2 {
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

img {
    width: 100%;
}

.top_container {
    background-color: #F6FBF4;
    padding-top: 10%;
    position: relative;
}

.mid_container {

}

.down_container {

}

.top_cloud {
    width: 10%;
    position: absolute;
    left: 30%;
    top: 32%;
}

.bottom_cloud {
    width: 10%;
    position: absolute;
    left: 60%;
    top: 8%;
}

.hill {
    margin: 40px 0 40px 0 ;
    position: relative;
    bottom: 100%;
}

.skills-img {
    width: 8%;
}

.my-img {
    width: 10%;
    border-radius: 50%;
}